# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment files
.env
.env.local
.env.*.local

# Build / Output
dist/
.netlify/
.astro/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
